<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/css/iziToast.min.css">
   <link rel="stylesheet" href="/login.css">
    <title>Address Management</title>
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#home">
                <img src="/images/Screenshot_2024-07-14_091114-removebg-preview.png" alt="" style="margin-left: 20px; margin-top:-15px; width: 90px; height: auto;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mx-auto">
                    <a class="nav-item nav-link active" href="/" style="padding-left: 70px;font-weight: 100; font-size: small;">HOME</a>
                    <a class="nav-item nav-link" href="/shop" style="padding-left: 78px;font-weight: 100;font-size: small;">SHOP</a>
                    <a class="nav-item nav-link" href="/about" style="padding-left: 78px;font-weight: 100;font-size: small;">ABOUT</a>
                    <a class="nav-item nav-link" href="/contact" style="padding-left: 78px;font-weight: 100;font-size: small;">CONTACT</a>
                </div>
                 
                <div class="d-flex" style="margin-left: 40px;">
                   
                    <a href="/login" class="ml-3" >
          
                        <img src="/images/user (1).png" calt="" style="width: 18px; height: 18px; margin-right:39px;">
                    </a>
                 
                   <a href="/cart">
   
    <img src="/images/shopping-cart.png" alt="" style="width: 20px; height: 20px; margin-right: 29px;">
    
     <span class="badge " style="background-color: #756f6e;font-size: 8px;margin-left: -28px">{{session.cart.totalQty}}</span>
  
     </a>
   
         </div>
         </div>
   </div>
    </nav> <br><br><br>
    {{#if user}}
    <div class="container text-align mx-auto text-center">
        <h3 class="" style="color: #7B7274; padding-top: 30px; font-weight: 200;">Edit Account</h3>
        <a href="/userinfo/{{user._id}}" style="color: #756f6e;">Return to Account details</a>
       

        <div class="row mt-5 ">
            <div class="col-md-4">

            </div>
            <div class="col-md-6" style="margin-left: -43px;">
                
                <div class="card mt-3">
                    <div class="card-body">
                         <form action=""  method="POST" id="editform">
            <div class="form-group">
                 <input type="text" class="form-control" id="fullname" name="fullname" value="{{user.fullname}}" required  style="font-size: smaller;text-transform: uppercase; width: 90%; margin-left: 10px; margin-top: 10px;">
                 
                 <input type="text" class="form-control" id="username" name="username" value="{{user.username}}" required  style="font-size: smaller; width: 90%; margin-left: 10px; margin-top: 10px;">
                 <input type="text" class="form-control" id="email" name="email" value="{{user.email}}" required  style="font-size: smaller; width: 90%; margin-left: 10px; margin-top: 10px;">
                  <input type="text" class="form-control" id="phonenumber" name="phonenumber" value="{{user.phonenumber}}" required  style="font-size: smaller; width: 90%; margin-left: 10px; margin-top: 10px;">
                 </div>

                
                      </div>
            <button type="submit" class="button" style="margin-left: 31px;">UPDATE</button>
            <hr> 
              </form>
  
            
                        
                     </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div><br><br>

    <section class="footer">
        Stay Connected: <br><br>
        Facebook | Instagram | Twitter <br><br>
        Quick Links: <br><br>
        About Us | Contact Us | Privacy Policy | Terms of Service <br><br>
        © 2024 Women Fashion. All rights reserved. <br><br>
    </section>


      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/js/iziToast.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#editform').on('submit', function(event) {
                event.preventDefault(); // Prevent the default form submission

                $.ajax({
                    type: 'POST',
                    url: '/edit-account/{{user._id}}',
                    data: $(this).serialize(), // Serialize form data
                    success: function(response) {
                        iziToast.success({
                            title: 'Success',
                            message: response.message,
                            position: 'topCenter',
                            timeout: 3000,
                            icon: 'icon-checkmark',
                            color: 'green'
                        });
                         const userid = window.location.pathname.split('/').pop();
                        setTimeout(function(){
                             window.location.href=`/account-management/${userid}`
                        },1200)
                       
                    },
                    error: function(xhr, status, error) {
                        iziToast.error({
                            title: 'Error',
                            message: 'Email already exist,please try another email',
                            position: 'center',
                            timeout: 3000
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>
